<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carForEnergy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5020297C1E8D0ACC0085609C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502029951E8D0ACC0085609C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502029A01E8D0ACC0085609C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
